<div class="card">
    <img class="card-img-top"
        src="{{origin._BASEURL+image}}"
        style="width: auto;height: 50%;" alt="">
    <div class="card-body">
        <div class="container p-0">
            <div class="row">
                <p class="card-title mb-0">{{title}}</p>
                <small>{{author}}</small>
            </div>
            <p class="card-text">{{desc}}</p>

            <div class="row">
                <div class="col-lg-10 p-0 pr-1">
                    <button type="button" class="btn btn-sm btn-success btn-block"> {{price}} </button>
                </div>
                <div class="col-lg-2 p-0">
                    <button type="button" class="btn btn-sm btn-primary btn-block"> <i class="fa fa-eye"
                            aria-hidden="true"></i> </button>
                </div>
            </div>
        </div>
    </div>
</div>