<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search what you want here.."
            aria-label="Search what you want here" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"> <i class="fa fa-search" aria-hidden="true"></i>
                Search</button>
        </div>
        
    </div>
    <div class="row">

        <div class="col-lg-3" *ngFor="let book of book.bookList; let i = index">
            <app-book-item [title]="book.title" [price]="book.price" [author]="book.author" [desc]= "book.description" [image]="book.image"></app-book-item>
        </div>
    </div>
</div>